{% extends "blog/base.html" %}
{% block content %}
    <h2>
        You have been logged out
    </h2>
    <div class="content-section">
        <div class="border-top pt-3">
            <small class="text-muted">
                Log back in?
                <!--ToDo remember to remove that ml-2-->
                <a class="ml-2" href="{% url 'register' %}">
                    Log In
                </a>
            </small>
        </div>
    </div>
{% endblock content %}